body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: powderblue;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#hero img {
    width: 100%;
    height: auto;
}

#about, #products, #cart, footer {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    max-width: 1200px;
}

.product {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: calc(25% - 40px); /* Adjust the width to fit four products per row */
    background-color: white;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.founders img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}
